AEGISOPS_CONTROL_PLANE_HOST=127.0.0.1
AEGISOPS_CONTROL_PLANE_PORT=8080
AEGISOPS_CONTROL_PLANE_POSTGRES_DSN=<set-me>
AEGISOPS_CONTROL_PLANE_OPENSEARCH_URL=<set-me>
AEGISOPS_CONTROL_PLANE_N8N_BASE_URL=<set-me>
